.search {
  background-color: #FCF8F3;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 1.25rem;
  border-bottom: 0.0625rem solid #6EC1E4;
}

.searchbox {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .input-wrapper {
    border: 0.0625rem solid #6EC1E4;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.3125rem 0.625rem;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 0.3125rem;
    width: 100%;
    max-width: 15.4375rem;
    font-size: 1rem;
  }
}

#searchbox-input {
  font-family: 'Pluto Sans Regular';
  font-size: 0.75rem;
  min-width: 0rem;
  color: #000000;
  border: none;
}

.searchbox ::placeholder {
  color: #000000;
}

.submit {
  display: none;
}

@media (max-width: 1020px) {
  .search {
    grid-column: 1/3;
    grid-row: 2;
  }
}