
/* Remove padding and margin added by the browser */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 12.3125rem 39fr 12.3125rem;
  grid-template-rows: 80fr 921fr;
  height: 53.5625rem;
  background-color: #F5F6F8;
}

.navbar, .collapsible-button-left-wrapper, #collapsible-button-left {
  display: none;
}

.left-sidebar {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 2.9375rem;
  background-color: #231F20;
  padding: 1.875rem 2rem;
}

.collapsible-button-right-wrapper, #collapsible-button-right {
  display: none;
}

.right-sidebar {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #231F20;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  padding: 2rem 1.75rem;
  row-gap: 1.3938rem;
}

.right-sidebar-title {
  font-family: 'Pluto Sans Bold';
  font-size: 0.5625rem;
  color: #FCF8F3;
}

.right-sidebar-li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Pluto Sans Cond Light';
  color: #FCF8F3;
  font-size: 0.6188rem;
}

.left-sidebar-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  row-gap: 1.2188rem;
}

.left-sidebar-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 1.2188rem;
}

.left-sidebar-title {
  font-family: 'Pluto Sans Cond Light';
  color: #FFFFFF;
  font-size: 0.6875rem;
}

.left-sidebar-li {
  color: #6EC1E4;
  font-size: 0.6875rem;
  font-family: "Pluto Sans Cond Light";
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .fa {
    font-size: 0.75rem;
    margin-right: 0.8125rem;
  }

  &.checked {
    color: #FFFFFF;
  }
}

@media (max-width: 1020px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, min-content);
    height: 100vh;
  }
  
  .search {
    grid-column: 1/3;
    grid-row: 2;
  }

  .collapsible-button-left-wrapper {
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
    background: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 1.25rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
  }
  
  .collapsible-button-right-wrapper {
    grid-column: 2;
    grid-row: 3;
    justify-self: right;
    background: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 1.25rem;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
  }
  
  .left-sidebar {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
  }

  .right-sidebar {
    grid-column: 1/3;
    grid-row: 5;
    display: grid;
  }

  .left-sidebar-unchecked, .right-sidebar-unchecked {
    display: none;
  }
}

@media (min-height: 850px) {
  .grid-container {
    height: 100vh;
  }
}